.projects {
  height: 100vh;
}

@keyframes projects-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.projects-container {
  height: 100%;
}

.projects-stopper {
  position: relative;
  top: 5vh;
}

.carousel-container {
  border-radius: 5px;
  height: 60vh;
  width: 70vw;
  margin: 5%;
  background: linear-gradient(
    -45deg,
    #769df4,
    #7abded,
    #fdb0c9,
    #ef83cf,
    #9175e3,
    #3888f1,
    #00b6fe,
    #00e5fe,
    #45fee8,
    #59e0ed,
    #59e0ed,
    #45fee8,
    #00e5fe,
    #00b6fe,
    #3888f1,
    #9175e3,
    #ef83cf,
    #fdb0c9,
    #7abded,
    #769df4
  );
  background-size: 400% 400%;
  animation: projects-gradient 15s ease infinite;
}

.carousel-inner-container {
  position: relative;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
}

.color-overlay {
  border-radius: 5px;
  position: relative;
  left: 0.5%;
  top: 1%;
  height: 98%;
  width: 99%;
  background-color: #121212;
}

.carousel-container img {
  height: 50vh;
  object-fit: cover;
}

.carousel-caption {
  background-color: #0f0f0f;
  border-radius: 5px;
  border: 2px solid #9c9c9c;
}

.carousel-caption h3 {
  font-size: calc(18px + 0.4vw);
}

.carousel-caption p {
  font-size: calc(8px + 0.4vw);
}

.carousel-control-next,
.carousel-control-prev {
  background-color: rgba(255, 255, 255, 0);
  width: 5%;
}

.highlighted {
  color: white;
  position: relative;
  text-decoration: none;
  background: linear-gradient(to right, #9175e3, rgba(100, 200, 200, 1)),
    linear-gradient(to right, #45fee8, #00b6fe, #9175e3);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.highlighted:hover {
  color: white;
  background-size: 0 3px, 100% 3px;
}

.padding-sides {
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (max-width: 600px) {
  .carousel-container {
    border-radius: 25px;
    height: 60vh;
    width: 90vw;
    margin: 0%;
    background: linear-gradient(-45deg, #000000, #121212, #fff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }

  .color-overlay {
    border-radius: 25px;
    position: relative;
    left: 0.5%;
    top: 1%;
    height: 98%;
    width: 99%;
    background-color: #121212;
  }
}
