.skills {
  background-color: #000000;
  height: 100vh;
}

.skillsStopper {
  position: relative;
  top: 5vh;
}

.containerContainer {
  height: 100%;
}

.skillsTitle {
  margin-bottom: 3%;
}

.skillsCarousel {
  height: 30vh;
}

.containerSkill {
  height: 100%;
}

.rowSkill {
  height: 100%;
}

.colSkill {
  height: 100%;
}

/* .left-skill {
  background-color: rgba(255, 255, 0, 0.1);
}

.center-skill {
  background-color: rgba(0, 0, 255, 0.1);
}

.right-skill {
  background-color: rgba(255, 0, 0, 0.1);
} */

.skillName {
  margin-top: 10%;
  text-align: center;
}

svg.pie {
  width: 200px;
  height: 200px;
}

circle {
  fill: #000;
  stroke: white;
  stroke-width: 20;
}

path {
  fill: black;
}

.circleOverlay {
  /* height: calc(130px + 0.4vh);
  width: calc(130px + 0.4vh); */
  height: calc(60px + 5vh);
  width: calc(60px + 5vh);
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  height: calc(100px + 5vh);
  width: calc(100px + 5vh);
  background: linear-gradient(
    -45deg,
    #769df4,
    #7abded,
    #fdb0c9,
    #ef83cf,
    #9175e3,
    #3888f1,
    #00b6fe,
    #00e5fe,
    #45fee8,
    #59e0ed,
    #59e0ed,
    #45fee8,
    #00e5fe,
    #00b6fe,
    #3888f1,
    #9175e3,
    #ef83cf,
    #fdb0c9,
    #7abded,
    #769df4
  );
  background-size: 400% 400%;
  background-position: 0% 50%;
  border-radius: 50%;
  display: inline-block;
}

.high {
  clip-path: polygon(
    50% 50%,
    50% 0,
    0 0,
    0 50%,
    0 100%,
    50% 100%,
    100% 100%,
    100% 50%,
    100% 0%,
    100% 0%,
    50% 50%
  );
}

.medium {
  clip-path: polygon(
    50% 50%,
    50% 0,
    0 0,
    0 50%,
    0 100%,
    50% 100%,
    100% 100%,
    100% 50%,
    100% 0%,
    100% 25%,
    50% 50%
  );
}

.medLow {
  clip-path: polygon(
    50% 50%,
    50% 0,
    0 0,
    0 50%,
    0 100%,
    50% 100%,
    100% 100%,
    100% 50%,
    100% 0%,
    100% 50%,
    50% 50%
  );
}

.low {
  clip-path: polygon(
    50% 50%,
    50% 0,
    0 0,
    0 50%,
    0 100%,
    50% 100%,
    100% 100%,
    100% 50%,
    100% 0%,
    100% 75%,
    50% 50%
  );
}

.animateCircle {
  animation-duration: 1.5s;
  animation-name: circle-in;
  animation-timing-function: linear;
}

.skillIcon {
  width: 100%;
  height: 100%;
  display: inline-flex;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0);
  z-index: 9999;
}

.largeIcon {
  padding: 25%;
}

.smallIcon {
  padding: 15%;
}

/* @keyframes circle-fill {
  0% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      100% 0%,
      50% 50%
    );
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      100% 0%,
      50% 50%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      100% 0%,
      50% 50%
    );
  }

  37.5% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      100% 0%,
      50% 50%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      50% 0%,
      50% 50%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      100% 0%,
      50% 50%
    );
  }
} */

@keyframes circle-in {
  0% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      50% 0,
      50% 0,
      50% 0,
      50% 0,
      50% 0,
      50% 0,
      50% 0,
      50% 0,
      50% 50%
    );
    opacity: 0;
    background-position: 0% 50%;
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      50% 50%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 50%,
      0 50%,
      0 50%,
      0 50%,
      0 50%,
      0 50%,
      50% 50%
    );
    background-position: 100% 50%;
  }

  37.5% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      0 100%,
      0 100%,
      0 100%,
      0 100%,
      0 100%,
      50% 50%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 50%
    );
    background-position: 0% 50%;
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 50%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 50%,
      100% 50%,
      50% 50%
    );
    opacity: 1;
    background-position: 100% 50%;
  }

  /* 87.5% {
    clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      100% 0%,
      50% 50%
    );
  } */

  100% {
    /* clip-path: polygon(
      50% 50%,
      50% 0,
      0 0,
      0 50%,
      0 100%,
      50% 100%,
      100% 100%,
      100% 50%,
      100% 0%,
      100% 0%,
      50% 50%
    ); */
    background-position: 0% 50%;
  }
}
